:root {
    --main-violet: #8758FF;
    --main-blue: #5CB8E4;
    --main-black: #000000;
    --secondary-black: #181818;
    --main-white:#F2F2F2;
}
* {
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--main-violet);
    color: var(--main-black);
    display: flex;
}
main {
    background-color: var(--main-black);
    color: var(--main-white);
}
.main--home {
    grid-template: 
        "title title image image"
        "subtitle subtitle image image"
        "p p image image"
        "a a image image";
}
.main--home-container-cta {
    
}
.main--home-container-cta h1 {
    
}
.main--home-container-cta h2 {
    
}
.main--home-container-cta p {
    
}
.main--home-container-cta a {
    
}
.main--home-container-img {

}
.main--home-container-img img {
    
}
.main--about-me {

}
.main--projects {

}
.main-certificates {

}
.main-curiosities {
    
}
footer {
    background-color: var(--main-violet);
    color: var(--main-black);
}